In [1]:
import pandas as pd
import numpy as np

In [78]:
data1=pd.read_csv("all_tweets.csv")
data2=pd.read_csv("emotion_dataset_2.csv")
data3=pd.read_csv("training.csv")
data4=pd.read_csv("test.csv")

In [79]:
data1.head(5)

,Unnamed: 0,sentiment,text,user,label
0,0,positive,RT @SchudioTv: Want to know more about #autism...,beyondbehaviour,anxiety
1,1,negative,We blame ourselves and feel worse. Start with ...,cherie7c,anxiety
2,2,positive,"RT @PsychiatristCNS: 130,000 patient years and...",ThinkNeha,anxiety
3,3,neutral,RT @SkypeTherapist: See a therapist online ove...,FrankCoulson7,anxiety
4,4,positive,"RT @PsychiatristCNS: 130,000 patient years and...",Phcourtet,anxiety

In [80]:
ref1 = data1.loc[(data1.sentiment=='positive') & (data1.label=='anxiety')]
ref2 = data1.loc[(data1.sentiment=='negative') & (data1.label=='anxiety')]
a1=list(ref1.index)
for i in a1:
    data1.at[i, 'label'] = 'Surprise'
b1=list(ref2.index)
for j in b1:
    data1.at[j, 'label'] = 'Fear'

In [83]:
data1['label'].value_counts(normalize=False)

happy         2698
depression    1395
anxiety        606
stress         575
Surprise       519
Fear           239
Name: label, dtype: int64

In [85]:
labels1 = {'depression':'Sadness','happy':'Happy','stress':'Fear','anxiety':'Normal','Surprise':'Surprise','Fear':'Fear'}
data1['description'] = data1['label'].map(labels1)

In [91]:
text_data1=data1[['text','description']]

In [92]:
text_data1.head()

                                                text description
0  RT @SchudioTv: Want to know more about #autism...    Surprise
1  We blame ourselves and feel worse. Start with ...        Fear
2  RT @PsychiatristCNS: 130,000 patient years and...    Surprise
3  RT @SkypeTherapist: See a therapist online ove...      Normal
4  RT @PsychiatristCNS: 130,000 patient years and...    Surprise

In [77]:
data1.head()

,Unnamed: 0,sentiment,text,user,label
0,0,positive,RT @SchudioTv: Want to know more about #autism...,beyondbehaviour,Surprise
1,1,negative,We blame ourselves and feel worse. Start with ...,cherie7c,anxiety
2,2,positive,"RT @PsychiatristCNS: 130,000 patient years and...",ThinkNeha,Surprise
3,3,neutral,RT @SkypeTherapist: See a therapist online ove...,FrankCoulson7,anxiety
4,4,positive,"RT @PsychiatristCNS: 130,000 patient years and...",Phcourtet,Surprise

In [93]:
data2.head(5)

,Unnamed: 0,Emotion,Text,Clean_Text
0,0,neutral,Why ?,NaN
1,1,joy,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow
2,2,sadness,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...
3,3,joy,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...
4,4,joy,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...

In [94]:
data2['Emotion'].value_counts(normalize=False)

joy         11045
sadness      6722
fear         5410
anger        4297
surprise     4062
neutral      2254
disgust       856
shame         146
Name: Emotion, dtype: int64

In [95]:
labels2 = {'sadness':'Sadness', 'joy':'Happy', 'fear':'Fear', 'anger':'Anger', 'surprise':'Surprise','neutral':'Normal','disgust':'Sadness','shame':'Sadness'}
data2['description'] = data2['Emotion'].map(labels2)

In [97]:
text_data2=data2[['Text','description']]

In [99]:
text_data2.rename(columns = {'Text' : 'text'}, inplace = True)
text_data2.head()

E:\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                                                text description
0                                             Why ?       Normal
1    Sage Act upgrade on my to do list for tommorow.       Happy
2  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...     Sadness
3   Such an eye ! The true hazel eye-and so brill...       Happy
4  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...       Happy

In [12]:
data3['description'].value_counts(normalize=False)

joy         5362
sadness     4666
anger       2159
fear        1937
love        1304
surprise     572
Name: description, dtype: int64

In [100]:
data3.head(5)

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [101]:
labels_dict = {0:'Sadness', 1:'Happy', 2:'Love', 3:'Anger', 4:'Fear', 5:'Surprise'}
data3['description'] = data3['label'].map(labels_dict )
data3.head(5)

                                                text  label description
0                            i didnt feel humiliated      0     Sadness
1  i can go from feeling so hopeless to so damned...      0     Sadness
2   im grabbing a minute to post i feel greedy wrong      3       Anger
3  i am ever feeling nostalgic about the fireplac...      2        Love
4                               i am feeling grouchy      3       Anger

In [102]:
text_data3=data3[['text','description']]

In [103]:
text_data3.head(5)

                                                text description
0                            i didnt feel humiliated     Sadness
1  i can go from feeling so hopeless to so damned...     Sadness
2   im grabbing a minute to post i feel greedy wrong       Anger
3  i am ever feeling nostalgic about the fireplac...        Love
4                               i am feeling grouchy       Anger

In [104]:
data4['description'] = data4['label'].map(labels_dict)
data4.head(5)

                                                text  label description
0  im feeling rather rotten so im not very ambiti...      0     Sadness
1          im updating my blog because i feel shitty      0     Sadness
2  i never make her separate from me because i do...      0     Sadness
3  i left with my bouquet of red and yellow tulip...      1       Happy
4    i was feeling a little vain when i did this one      0     Sadness

In [105]:
data4['description'].value_counts(normalize=False)

Happy       695
Sadness     581
Anger       275
Fear        224
Love        159
Surprise     66
Name: description, dtype: int64

In [106]:
text_data4=data4[['text','description']]
text_data4.head(5)

                                                text description
0  im feeling rather rotten so im not very ambiti...     Sadness
1          im updating my blog because i feel shitty     Sadness
2  i never make her separate from me because i do...     Sadness
3  i left with my bouquet of red and yellow tulip...       Happy
4    i was feeling a little vain when i did this one     Sadness

In [108]:
text_d=pd.concat([text_data1,text_data2,text_data3])

In [118]:
text_d.to_csv('Final_Text.csv')

In [119]:
text_data4.to_csv('Final_test_text.csv')